body {

}
div#contact-container {
  margin-bottom: 100px;
}
nav.navbar {
  background-color: #09243f;
}
#navbar-logo {
  width: 100px;
  margin-top: -20px;
}
#navbar-cart {
  width: 35px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 50px;
  font-size: 22px;
  height: 100px;
  background-color: #09243f;
  color: #efefef;
}
#copyright-banner {
  font-size: 12px;
}

img#mod-main-img {
  width: 200px;
}
#cart-product-desc {
  margin-top: 50px;
  font-size: 18px;
}

img#cart-product-img {
  margin-top: 10px;
  width: 100px;
}

div#quantity {
  margin-top: 40px;
}

#cart-quantity {
  padding-right: 20px;
  font-size: 18px;
}

#cart-price {
  margin-top: 50px;
}
#cart-subtotal {
  margin-top: 50px;
}
#cart-index {
  margin-top: 50px;
}
#copyright-banner {
  margin-top: 45px;
}
