body {
  background-image: url("/css/images/dark-fabric.png");
}

.navbar-default .navbar-nav > .active > a {
  color: #2a9fd6;
  background-color: transparent;
  font-size: 18px;
}

jumbotron {
  background-color: #000000 !important;
}

hr {
  border-color: #0F0F0F
}

a.to-splash {
  color: white;
  background-color: transparent;
}
a.to-splash:hover {
  text-decoration: none;
  color: #2a9fd6;
  background-color: transparent;
}

.form-horizontal .control-label {
  text-align: right;
  margin-bottom: 0;
  padding-top: 9px;
  color: white;
}

button.btn, .btn-info, .btn-warning {
  color: #242424 ;
  font-size: 16px;
}

button.btn:hover, .btn-info:hover {
  color: #242424;
  font-size: 16px;
}

.signature-nav {
  font-size: 12px;
}

div.enter-button > button.btn-primary.btn-lg {
  margin-left: 45%;
}


.form-control {
  background-color: #060606;
  font-size: 17px;
  color: #2a9fd6
}

a.social-buttons {
  cursor : pointer;
}

i.fa.fa-5x.text-primary:hover {
  color : #FFFFFF;
  cursor : pointer;
}

.toast-logout {
  background-color: rgba(20, 20, 20) !important;
  box-shadow: 0px 4px 97px rgba(74, 255, 0, 1) !important;
  color: rgba(74, 255, 0, 1) !important;
}

.toast-register {
  background-color: rgba(20, 20, 20) !important;
  box-shadow: 0px 4px 97px rgba(255, 145, 0, 1) !important;
  color:rgba(255, 145, 0, 1) !important;
}

.toast-title {
  font-size: 16px !important;
  color: #E7E7E7 !important;
}

#favorite-business {
  cursor: pointer;
}
#favorite-business:hover {
  cursor: pointer;
  color: #FFFFFF;
}

#favoriteButton {
  margin-top: 40px;
}

#isFavoriteButton {
  margin-top: 40px;
}

#paginate-top {
  margin-top: 50px;
  margin-bottom: 0px;
}

#paginate-bottom {
  margin-top: 50px;
  margin-bottom: 0px;
}
