<div class="container-fluid">
  <div class="form-group">
    <div class="register-jumbo col-xs-6 col-xs-offset-3 text-center jumbotron">
      <h3>Register</h3>
      <hr>
      <div class="text-center">
        <form ng-submit="registerNewUser(registerObj)">
          <input ng-model='registerObj.name' type="text" class="form-control" placeholder="Name" required>
          <br>
          <input ng-model='registerObj.Email' type="text" class="form-control" placeholder="Email" required>
          <br>
          <input ng-model='registerObj.Username' type="text" class="form-control" placeholder="Username" required>
          <br>
          <input ng-model='registerObj.password' type="password" class="form-control" placeholder="Password" required>
          <br>
          <input ng-model='registerObj._Password' type="password" class="form-control" placeholder="Verify Password" required>
          <br>
          <input ng-model='registerObj.Avatar' type="text" class="form-control " placeholder="Avatar URL">
          <br>
          <div class="fileinput fileinput-new " data-provider='fileinput'>
            <input class="btn btn-info btn-sm btn-file" type='file' name='file' style="font-size: 12px; color : #DEDEDE">Choose Image File</input><br>
            <small ng-model='registerObj.AvatarFile' class="fileinput-new"></small>
          </div>
          <br>
          <textarea ng-model='registerObj.Bio' class='form-control' placeholder="Bio"></textarea>
          <hr>
          <button type='submit' class="btn btn-warning btn-lg">Register</button>
        </form>
        <hr>
        <p><a ui-sref="login">Login</a></p>
      </div>
    </div>
  </div>
</div>
