<html>
<head>
  <title>Vape Switch</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/darkly/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="client/styles/main.scss" media="screen" title="no title" charset="utf-8">
</head>
  <body>

  <div id="js-main"></div>

  <%- body %>

  <% if (env.production) { %>
    <script async src="<%= env.assets.main.js %>"></script>
  <% } else { %>
    <script src="http://localhost:3000/client/main.js"></script>
  <% } %>
  </body>
</html>
