<div class="well container">
  <h1 class='text-center'><img style='width: 200px;' src='http://s3-media2.fl.yelpcdn.com/assets/srv0/www_pages/95212dafe621/assets/img/brand_guidelines/yelp-2c.png'/><br> Search</h1>
  <hr>
  <div class="form-inline text-center">
    <label for="yelp-term" class='control-label'>Term</label>
    <input ng-model='term' type="text" class="form-control" id='yelp-term' placeholder="food">
    &nbsp &nbsp
    <label for="yelp-location" class='control-label'>Location</label>
    <input ng-model='location' type="text" class="form-control" id='yelp-location' placeholder="Santa Fe">
    <button ng-click='searchYelp(term, location)' class="btn btn-info" type="button">Search</button>
    <br>
    <ul id='paginate-top' class="pagination pagination-lg" ng-if='results'>
      <li class="disabled"><a>&laquo;</a></li>
      <li ><a ng-click='getPage(0)'>1</a></li>
      <li ><a ng-click='getPage(1)'>2</a></li>
      <li ><a ng-click='getPage(2)'>3</a></li>
      <li ><a ng-click='getPage(3)'>4</a></li>
      <li><a>&raquo;</a></li>
    </ul>
  </div>
  <br>
  <div class="container-fluid home-jumbo" ng-if='results'>
    <br>
    <div class="col-xs-12">
      <div ng-repeat='business in results.businesses | limitTo: 10 track by $index' class="template posts-body col-xs-10 col-xs-offset-1 row fadeIn animated panel panel-default">

        <div class="message-header panel-heading row">
          <p class="panel-title"><span class="template-author-name">Name:</span><span style='color: white' class="pull-right">{{business.name}}</span></p>
          <p class="panel-title"><span class="template-author-name">Phone:</span><span class="text-primary pull-right">{{business.display_phone}}</span></p>
          <p class="panel-title"><span class="template-author-name">Rating | Reviews:</span><span class="text-primary pull-right"><img ng-src='{{business.rating_img_url}}'/> {{business.review_count}} Reviews</span></p>
          <p class="panel-title"><span class="template-author-name pull-right"><a ng-href='{{business.url}}'><u class='text-warning'><small>Website</small></u></a></span></p>
          <p class="panel-title"><span class="template-author-name">Favorited by: </span><span class="text-primary">{{business.fans || 0}} user(s)</span></p>
        </div>

        <div class="row post-row">
          <fieldset>
            <div class="panel-body">
              <img ng-src='{{business.snippet_image_url}}' class="pull-left">
              <img class='pull-right' ng-src='{{business.image_url}}'/>
              <p class="template-post-message text-primary lead col-xs-8">Review: <small class="text-right text-success">{{business.snippet_text}}</small></p>
              <p class="template-post-message text-primary lead col-xs-8 pull-right text-right">Location: <br>
                <small class="text-right text-muted">{{business.location.city}}, {{business.location.state_code}}</small><br>
                <small class="text-right text-muted">{{business.location.address[0]}}</small><br>
              </p>

              <p ng-hide="isFavorites.indexOf('{{business.id}}') > -1" class="template-post-message text-primary lead pull-left"><button id='favoriteButton' ng-click='addToFavorite(business)' type="button" class='btn btn-primary'>Add To Favorites <i class="fa fa-plus-circle"></i> </button></p>
              <p ng-show="isFavorites.indexOf('{{business.id}}') > -1" class="template-post-message text-primary lead pull-left"><button id='isFavoriteButton' type="button" class='disabled btn btn-info'>Saved <i style='color: yellow' class="fa fa-star"></i></button></p>
            </div>
          </fieldset>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- <footer class='container-fluid text-primary' style='height: 50px; background-color: black; position: fixed; bottom: 0; width: 100%;'>This is a test </footer> -->
