
<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="jumbotron">
        <h1>Yelp API Watchlist</h1>
        <blockquote id='project-description' cite="https://git.heroku.com/mighty-shore-12223.git">
          A <i class='text-warning'>Full Stack</i> App<br>
          <span class="text-danger">Back End: </span> Node.js, Express.js, Mongo DB <br>
          <span class="text-success">Front End: </span> Angular.js <br>
          <span class="text-info">Repo: </span> at <a href="https://github.com/TobiahRex/chFinal.git">/chFinal</a><br>
          <span class="text-warning">Hosted: </span> on <a href="https://fathomless-everglades-44961.herokuapp.com/#/">Heroku </a>
        </blockquote>
        <br>
        <div class="enter-button">
          <button ng-model='enter_page' ng-click='goToHome()' class="btn btn-lg btn-primary">
            Enter
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
