<div class="modal-header">
  <h3 class="modal-title text-center"> <i class="text-danger fa fa-3x fa-trash"></i> <br> Delete Photo </h3>
</div>
<div class="modal-body text-center">

  <h3 class='text-danger'> Are you sure ??? <br><br><img ng-src='{{photo.url}}'/></h1>
    <br>
    <p class="lead text-warning"> <span class="text-primary">Photo #</span> {{photo._id}}</p>

<div class="modal-footer">
  <div class="row">
    <div class="col-xs-2">
      <button class="btn btn-warning" type="submit" ng-click='cancel()'>Cancel</button>
    </div>
    <div class="col-xs-10">
      <button class="btn btn-danger" type="submit" ng-click='deletePhoto()'>Delete</button>
    </div>
  </div>
</div>
